{% extends 'main/layout.html' %}
{% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Meet the Neckbeards!</small>
                </h1>
                <p>Founded in 2015, Neckbeards is an entertainment agency providing all manner of quirky and kookie groups. If its out there, and we mean OUT THERE, we can find them and bring them to you!</p>
            </div>
        </div>
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                {% load staticfiles %}
                <img class="img-circle img-eggs img-responsive img-center" src="{% static "img/Alec_Davidson.JPG" %}" alt="">
                <h3>Alec Davidson
                    <small>Recruiter</small>
                </h3>
                <p>Finding new talent and venues for you!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-eggs img-responsive img-center" src="{% static "img/Salvatore_Bottiglieri.JPG" %}" alt="">
                <h3>Salvatore Bottiglieri
                    <small>Inspirations/Marketing</small>
                </h3>
                <p>Getting you in touch with the entertainer you need!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-eggs img-responsive img-center" src="{% static "img/Dylan_Grayson.JPG" %}" alt="">
                <h3>Dylan Grayson
                    <small>Public Relations</small>
                </h3>
                <p>Got a Comment? Question? Concern? He's your guy!</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-eggs img-responsive img-center" src="{% static "img/Adam_Thomas.JPG" %}" alt="">
                <h3>Adam Thomas
                    <small>Owner/Manager</small>
                </h3>
                <p>The man behind the curtain. Pulls the strings and greases the palms!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-eggs img-responsive img-center" src="{% static "img/David_Terry.JPG" %}" alt="">
                <h3>David Terry
                    <small>IT</small>
                </h3>
                <p>If you don't know why he's here, he's doing his job right!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-eggs img-responsive img-center" src="{% static "img/Justin_Liddicoat.JPG" %}" alt="">
                <h3>Justin Liddicoat
                    <small>Accountant</small>
                </h3>
                <p>Keeps the ducks in their rows and lights on!</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Neckbeards LLS 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}