{% extends 'main/layout.html' %}
{% block content %}
    <!--<h1>Hello World</h1>
    <section class="content bgcolor-3">
        <span class="input input--haruki">
        <input class="input__field input__field--haruki" type="text" id="input-1" />
        <label class="input__label input__label--haruki" for="input-1">
            <span class="input__label-content input__label-content--haruki">Email</span>
        </label>
        </span>
    </section>-->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Neckbeards LLC</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>We are an LLC that prides itself on bringing you only the finest the entertainment world has to offer. The groups and entertainment options we have under our banner provide unique and wonderful ways to entertain and captivate.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="about.html">Meet the Team &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Neckbeards LLC</strong>
                    <br>3846 Brekkin Rd.
                    <br>Flagstaff, AZ 86001
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>1-800-NECKBEARD
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">admin@neckbeards.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-eggs img-responsive img-center" src="../../static/img/mice.jpg" alt="">
                <h2>Mice Friends!</h2>
                <p>The purveyors of the Friendly Horde!</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-eggs img-responsive img-center" src="../../static/img/foreclosure.jpg" alt="">
                <h2>Fake-closure</h2>
                <p>Send your friends a fake forclosure! They'll laugh... later.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-eggs img-responsive img-center" src="../../static/img/404.png" alt="">
                <h2>Friend-oh-Four!</h2>
                <p>Make your friends wonder what the heck's wrong with their internet!</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Neckbeards LLC 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}